<div class="flex-1 flex items-stretch">
  <MonacoEditor class="flex-auto p-4" @value="hello"/>
  <div class="flex-none border-solid border-2"></div>
  <div class="flex-1 p-4">
    {{this.ast}}
  </div>
</div>
